@model IEnumerable<PF2.Models.AnswerOption>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { questionId = (int)ViewBag.QuestionId })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Answer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCorrect)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Question.Enunciation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Answer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsCorrect)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Question.Enunciation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id, questionId = (int)ViewBag.QuestionId }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id, questionId = (int)ViewBag.QuestionId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id, questionId = (int)ViewBag.QuestionId })
        </td>
    </tr>
}

</table>
